body {
            background-color: white;
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
        }
        h1, h3, h4, h2 {
            color: #333;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
        }
        li {
            margin-bottom: 8px;
        }
        hr {
            border: 1px solid #ccc;
        }
        a img {
            width: 175px;
            height: auto;
        }